/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/



@font-face {
    font-family: myFont;
    src: url(../fonts/arial.ttf);
}

body, html {
  background-color: #ECECEC;
  font-family: myFont;
}

.bg {
  background-color: #ECECEC;
  font-family: myFont;
}

.page {
  background-color: #ECECEC;
  font-family: myFont;
  width: 1200px;
}
