.home_content {
	text-align: left;
	padding-bottom: 5em;
}

/*---- slide show ----*/

.carousel {
	width: 1200px;
	margin-bottom: 5em;
}

.slide_show {
	width: 100%;
	max-height: 400px;
	overflow: hidden;
  object-fit: cover;
}

/*---- content ----*/

.box {
	height: 320px;
}

.box:hover {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link_trip:hover {
	text-decoration: none;
}

.show-grid {
	margin: 4em;
	padding-left: 5em;
	padding-right: 5em;
}

.text {
	margin: 0 1em 1em 1em;
	font-size: 0.9em;
	color: gray;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 18px;     /* fallback */
	max-height: 72px;      /* fallback */
	-webkit-line-clamp: 4; /* number of lines to show */
	-webkit-box-orient: vertical;
}
