.home_content {
	text-align: left;
}
/*---- slide show ----*/

.carousel {
	width: 1000px;
}

.slide_show {
	width: 100%;
	max-height: 400px;
	overflow: hidden;
    object-fit: cover;
}

/*---- content ----*/

.topic {
	margin-left: 2em;
	margin-bottom: -0.2em;
}

hr {
	width: 25em;
	position: absolute;
}

h1 {
	font-size: 2em;
}