
/*---- user info ----*/

.bg_userinfo {
	background-image: url('../images/bg_header.jpg');
	color: white;
	max-width: 1200px;
	max-height: 400px;
	background-position: center;
	background-repeat: no-repeat;
  text-align: center;
  padding: 3em;
}

.profile_btn.btn-default, .profile_btn.btn-default:hover {
	background-color: Transparent;
	border: solid 1px white;
	color: white;
	width: 10em;
	margin: 1em 1em 0 1em;
}

/*---- new trip ----*/

.new_trip.btn-default.active, .new_trip.btn-default:active, .new_trip.open>.dropdown-toggle.btn-default {
	background-color: #ECECEC;
	border-radius: 0;
	box-shadow: none;
	margin-top: 2.5em;
	width: 15em;
	position: absolute;
	margin-left: 18em;
	padding: 1em;
}

.trip_form.panel.panel-default {
	width: 50%;
	background-color: #F0F0F0;
	border: none;
	margin: 2em;
}

.form {
	padding: 2em;
}

/*---- tab content ----*/

.content {
	max-width: 1200px;
	padding-bottom: 2em;
}

.nav-tabs {
	border: none;
}

.nav.nav-tabs>li.active>a, .nav.nav-tabs>li.active>a:focus, .nav.nav-tabs>li.active>a:hover {
	font-size: 1.3em;
	font-weight: bold;
	padding: 1em 3em 1em 3em;
	background-color: #F2F1EF;
}

.nav.nav-tabs>li>a {
	font-size: 1.3em;
	font-weight: bold;
	padding: 1em 3em 1em 3em;
	border: 1px solid #ddd;
}

.tab_content {
	background-color: #F2F1EF;
	border: 1px solid #ddd;
	border-top: none;
	padding: 2em;
	padding-bottom: 0;
	height: 500px;
}

/*---- trip box ----*/

.bg_box {
	text-align: left;
	margin: 1em;
	margin-bottom: 2em;
	height: 100px;
}

.text {
	margin: 0;
	text-align: left;
	font-size: 0.9em;
	color: gray;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 18px;     /* fallback */
	max-height: 54px;      /* fallback */
	-webkit-line-clamp: 4; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.remove_trip {
	font-size: 0.75em;
	margin-left: 1em;
	color: gray;
}

.remove_trip:hover {
	color: red;
}
