/*----header : show trip info ----*/

.tl_header {
	position: relative;
  background: black;
  overflow: hidden;
	width: 100%;
	max-height: 500px;
	padding: 5em 5em 4em 5em;
	margin: 0;
}

.tl_header:before {
	content: ' ';
	display: block;
  position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  opacity: 0.3;
	background-image: url('../images/trip02.jpg');
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
}

.tl_info {
	width: 1000px;
	z-index: 2;
	color: white;
	position: relative;
	font-family: font_sukhumvit;
}

.info_edit {
	color: #DEDAB0;
	font-size: 1.2em;
}

.info_edit:hover {
	color: #FFF77F;
	cursor: pointer;
}

.tl_name {
	font-size: 3.5em;
	font-weight: bold;
}

.tl_detail {
	color: #ddd;
	line-height: 1.5em;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

/* content layout */

.left_box.col-md-4 {
	background-color: none;
	height: 200px;
}

.right_box.col-md-12 {
	background-color: none;
	text-align: left;
	padding-bottom: 5em;
	min-height: 500px;
}

.col-md-12 {
	text-align: right;
}

.timeline {
	text-align: left;
	width: 60%;
}

/* add day button */

.add_day.btn-default {
	background-color: #008C7E;
	color: white;
	border-radius: 0;
	box-shadow: none;
	width: 15em;
	padding: 1em;
}

/* map button */

.map_view.btn-default.active, .map_view.btn-default:active, .map_view.open>.dropdown-toggle.btn-default {
	background-color: #008C7E;
	color: white;
	border-radius: 0;
	box-shadow: none;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 15em;
	padding: 1em;
}

/* add event button and form */

.add_event {
	background-color: #F8F8F8;
	text-align: center;
	padding: 2em;
}

.add_event_btn.btn-default {
	background-color: #ECECEC;
	border-style: none;
	border-radius: 0;
	border: solid 1px #444;
	padding: 1em 3em 1em 3em;
}

.add_event_btn.btn-default:hover {
	background-color: #E0E0E0;
	border-color: inherit;
}

/* all about timeline */

div.panel-body {
	padding: 0;
}
div.panel-title {
	font-size: 1.5em;
	color: #eee;
}
div.panel-default>.panel-heading {
	background-color: #001C1D;
}

.tl_day_box { margin-top: 2em; }
.tl_event_box { padding: 1em 3em 1em 2em; background-color: #F8F8F8;}
.tl_event_box:hover { background-color: #F0F0F0; }

.event_name {
	margin-left: 2em;
}

.remove {
	font-size: 0.75em;
	margin-left: 1em;
}

.remove:hover {
	color: red;
	cursor: pointer;
}

.glyph_edit {
	font-size: 1em;
	/*margin-left: 20em;*/
}

.glyph_edit:hover {
	color: green;
	cursor: pointer;
}
.edit_set {
	text-align: right;
	margin-top: -1.8em;
}

.edit {
	font-size: 0.75em;
	display: inline-block;
	margin-left: 1em;
}

.add_event_form {

}

.tl_pic {
  width: 100px;
}
