.share_icon {
	display: inline-block;
	margin: 2em 1em 0 1em;
	text-align: right;
}

.share_icon:hover { cursor: pointer;}

/*---- header : show trip info & like/share button ----*/

.trip_header {
	position: relative;
  background: black;
  overflow: hidden;
	width: 100%;
	max-height: 500px;
	padding: 3em 4em 3em 4em;
	margin: 0;
}

.trip_header:before {
	content: ' ';
	display: block;
  position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  opacity: 0.5;
	background-image: url('../images/trip02.jpg');
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
}

.trip_info {
	width: 1000px;
	z-index: 2;
	color: white;
	position: relative;
	font-family: font_sukhumvit;
}

.tl_owner {
	color: #bbb;
	margin: 1em;
	font-style: italic;
	margin-top: -1em;
}

.view_btn, .view_btn:focus, .view_btn:active {
	background-color: #001C1D;
	color: white;
	font-size: 1.2em;
	width: 12em;
	display: inline-block;
	padding: 0.8em;
	margin: 1em 1em 0 1em;
	font-family: font_arial;
	cursor: pointer;
}

.view_btn:hover {
		color: white;
		background-color: #1a1b23;
}

.heart {
	color: pink;
	margin-right: 1em;
	font-size: 1em;
}

.duplicate {
  color: #B885E8;
  margin-right: 1em;
}

/*----- content -----*/

.tripview {
	text-align: left;
	width: 60%;
}

.day_box { margin-top: 2em; }
/*.tl_event_box { padding: 1em 3em 1em 2em; }
.tl_event_box:hover { background-color: #eee; }*/
.event_box {
	background-color: #F8F8F8;
	padding: 1em 1em 0 1em;
}
.event_box:hover { background-color: #F0F0F0; }

.pic {
  width: 100px;
	margin: 0;
	margin-left: 2em;
	margin-bottom: 1em;
}

.circle:before {
	color: #333;
	content: ' \25CF';
  font-size: 3em;
	line-height: 1em;
	margin-right: 0.3em;
	margin-left: 0.25em;
}

.square {
  border-left: solid 5px #333;
	height: 100%;
	margin-left: 1.9em;
	margin-top: -4.3em;
	padding-top: 4.3em;
	padding-bottom: 1em;
}

.name {
	margin-top: -2em;
}

.detail {
	margin: 0;
}

.trip_text {
	margin-left: 2em;
}
